[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW
binlog_do_db = testdb
bind-address = 0.0.0.0
default-authentication-plugin = mysql_native_password

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
